@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.titre {
    text-align: center;
    padding-bottom: 10px;
}

.barre {
    background-color:  #0075BE;
    color: #FFCC00;
}

.pokemon-titre {
    font-family: 'Pokemon Solid', sans-serif; 
    margin: 0;
}

.ligne {
    text-align: center;
    justify-content: center;
}
.cadre-image {
    width: 250px;
    height: 250px;
    object-fit: contain;
    padding: 10px;
    margin: 10px;
    margin-left: 25px;
    background-color:   #eaeeed;   
    border-style: solid;
    border-radius: 20%;
    border-color: lightgrey;
}

