{% extends 'animalerie/base.html' %}
{% load static %}
{% block content %}
<div class="page-header">
        {% if message != None %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% endif %}
    <h1>
        {% if character.type == "Feu" %}
            <span style="color: red;">{{ character.id_character }}</span>
        {% elif character.type == "Eau" %}
            <span style="color: blue;">{{ character.id_character }}</span>
        {% elif character.type == "Plante" %}
            <span style="color: green;">{{ character.id_character }}</span>
        {% else %}
            <span>{{ character.id_character }}</span>
        {% endif %}

        {% if character.lieu.id_equip == "arene" %}
            est dans l'arène
            
        {% endif %}
        {% comment %} {% if character.lieu.id_equip == "arene" %}
        <h2>Autres Pokémons dans l'arène:</h2>
        <ul>
            {% for other_character in pokemons_lieu %}
                    <li>{{ other_character}}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endcomment %}
        {% if character.lieu.id_equip == "nid" %}
            est dans le nid
        {% endif %}
        {% if character.lieu.id_equip == "infirmerie" %}
            est à l'infirmerie
        {% endif %}
        
    </h1>
    <div class= "ligne">
        <img class ="cadre-image col-md-6" src={{ character.photo }} alt="Image du Pokémon">
        <img class ="cadre-image col-md-6" src={{ character.lieu.photo }} alt="Image du lieu">
    </div>
    <form method="POST" class="post-form">{% csrf_token %}
        <b> Changer : </b> {{ form.as_ul }}
        <button type="submit" class="btn btn-primary m-2">OK</button>
        <a class="btn btn-secondary" href="{% url 'character_list' %}">Retour</a>
    </form>
</div>
{% endblock %}