{% extends 'animalerie/base.html' %}
{% load static %}
{% block content %}
<div class="page-header">
        {% if message != None %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% endif %}
    <h1>
        {% if character.type == "Feu" %}
            <span style="color: red;">{{ character.id_character }}</span>
        {% elif character.type == "Eau" %}
            <span style="color: blue;">{{ character.id_character }}</span>
        {% elif character.type == "Plante" %}
            <span style="color: green;">{{ character.id_character }}</span>
        {% else %}
            <span>{{ character.id_character }}</span>
        {% endif %}

        {% if character.lieu.id_equip == "arene" %}
            est dans l'arène
        {% comment %} {% if character.lieu.id_equip == "arene" %}
        <h2>Autres Pokémons dans l'arène:</h2>
        <ul>
            {% for other_character in pokemons_lieu %}
                    <li>{{ other_character}}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endcomment %}
        {% elif character.lieu.id_equip == "nid" %}
            est dans le nid
        {% elif character.lieu.id_equip == "infirmerie" %}
            est à l'infirmerie
        {% else %}
            lieu : character.lieu.id_equip
        {% endif %}
        

        
    </h1>
</div>
    <div class= "ligne">
        <img class ="cadre-image col-md-6" src={{ character.photo }} alt="Image du Pokémon">
        <img class ="cadre-image col-md-6" src={{ character.lieu.photo }} alt="Image du lieu">
    </div>
    <form method="POST" class="post-form">{% csrf_token %}
        <b> Changer : </b> {{ form.as_ul }}
        <button type="submit" class="btn btn-primary m-2">OK</button>
        <a class="btn btn-secondary" href="{% url 'character_list' %}">Retour</a>
    </form>
    <h2> Autres Pokémons dans le lieu :</h2>
    <div class ="row">
        {% for other_character in characters_dans_lieu %}
        {% if other_character.id_character != character.id_character %}
            <div class="col-md-6 col-lg-3">
                <p>
                    {% if other_character.type == "Feu" %}
                        <span style="color: red;">{{ other_character.id_character }}</span>
                    {% elif other_character.type == "Eau" %}
                        <span style="color: blue;">{{ other_character.id_character }}</span>
                    {% elif other_character.type == "Plante" %}
                        <span style="color: green;">{{ other_character.id_character }}</span>
                    {% else %}
                        <span>{{ other_character.id_character }}</span>
                    {% endif %}
                </p>

                    <img class ="cadre-image col-md-6" src={{ other_character.photo }} alt="Image du Pokémon">
            </div>
        {% endif %}
        {% endfor %}
    </div>

{% endblock %}